.product__text {
	display: block;
}

.product_link {
	text-decoration: none;
}

.product__text {
	color: #000;
}

@media (min-width: 1201px) {
	.product {
		width: 400px;
		height: 450px;
		margin-bottom: var(--gap-7xl);
	}
	.product__photo {
		width: 380px;
		height: 380px;
		object-fit: cover;
		margin: 0 10px;
	}
	.product__text {
		font-size: 20px;
		margin: 0 10px;
	}
	.product__title {
		margin: 10px 10px;
	}
}

@media (max-width: 1200px) and (min-width: 961px) {
	.product {
		width: 320px;
		height: 400px;
		margin-bottom: var(--gap-7xl);
	}
	.product__photo {
		width: 300px;
		height: 300px;
		object-fit: cover;
		margin: 0 10px;
	}

	.product__text {
		font-size: 20px;
		margin: 0 10px;
	}
	.product__title {
		margin: 10px 10px;
	}
}
@media (max-width: 960px) and (min-width: 641px) {
	.product {
		width: 320px;
		height: 400px;
		margin-bottom: var(--gap-5xl);
	}
	.product__photo {
		width: 300px;
		height: 300px;
		object-fit: cover;
		margin: 0 10px;
	}
	.product__text {
		font-size: 20px;
		margin: 0 10px;
	}
	.product__title {
		margin: 10px 10px;
	}
}
@media (max-width: 640px) and (min-width: 481px) {
	.product {
		width: 50vw;
		margin-bottom: var(--gap-5xl);
	}
	.product__photo {
		width: 46vw;
		height: 46vw;
		object-fit: cover;
		margin: 0 2vw;
	}
	.product__text {
		font-size: 20px;
		margin: 0 2vw;
	}
	.product__title {
		margin: 10px 10px;
	}
}

@media (max-width: 480px) {
	.product {
		width: 100vw;
		margin-bottom: var(--gap-5xl);
	}
	.product__photo {
		width: 90vw;
		height: 90vw;
		object-fit: cover;
		margin: 0 5vw;
	}

	.product__text {
		font-size: 20px;
		margin: 0 5vw;
	}
	.product__title {
		margin: 10px 5vw;
	}
}
